workflows/application-processing-workflow.json
{
  "name": "RecruForce2 - Application Processing",
  "nodes": [
    {
      "parameters": {
        "path": "application",
        "options": {}
      },
      "name": "Webhook - Application Submitted",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.AI_SERVICE_URL }}/api/match-score",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({candidateId: $json.body.candidateId, jobOfferId: $json.body.jobOfferId}) }}"
      },
      "name": "Calculate Matching Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.BACKEND_API_URL }}/api/applications/{{ $json.body.applicationId }}",
        "method": "PATCH",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({matchingScore: $json.matching_score}) }}"
      },
      "name": "Update Application Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.matching_score }}",
              "operation": "largerEqual",
              "value2": 60
            }
          ]
        }
      },
      "name": "Is Qualified?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "operation": "send",
        "from": "={{ $env.SMTP_FROM }}",
        "to": "={{ $json.body.candidateEmail }}",
        "subject": "Bonne nouvelle concernant votre candidature !",
        "emailFormat": "html",
        "html": "<h2>Félicitations !</h2><p>Votre profil correspond bien au poste.</p><p>Score: {{ $json.matching_score }}/100</p><p>Un recruteur vous contactera prochainement.</p>"
      },
      "name": "Email - Accepted",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "operation": "send",
        "from": "={{ $env.SMTP_FROM }}",
        "to": "={{ $json.body.candidateEmail }}",
        "subject": "Votre candidature - RecruForce2",
        "emailFormat": "html",
        "html": "<h2>Merci pour votre candidature</h2><p>Nous avons examiné votre profil avec attention.</p><p>Malheureusement, votre profil ne correspond pas exactement aux exigences actuelles du poste.</p><p>Nous gardons votre CV dans notre base de données.</p>"
      },
      "name": "Email - Rejected",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1050, 400]
    }
  ],
  "connections": {
    "Webhook - Application Submitted": {
      "main": [[{"node": "Calculate Matching Score"}]]
    },
    "Calculate Matching Score": {
      "main": [[{"node": "Update Application Score"}]]
    },
    "Update Application Score": {
      "main": [[{"node": "Is Qualified?"}]]
    },
    "Is Qualified?": {
      "main": [
        [{"node": "Email - Accepted"}],
        [{"node": "Email - Rejected"}]
      ]
    }
  },
  "active": true
}
